.Keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  margin: 0 auto;
}

.KeyboardButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  padding: .5em;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: .6em;
  outline: none;
  color: var(--white);
  font-family: inherit;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: all .1s ease;
  margin: .2em;
}

.KeyboardButton:disabled {
  background-color: var(--300);
  border-color: var(--300);
  cursor: not-allowed;
}
